<h1 class="text-xs-center my-3">
    About Us
</h1>

<p>
    <img src="assets/logo_neuronalmotion_symbol.png" class="pull-left mr-1" />
    <strong>NeuronalMotion</strong> is a software development company. We craft software in many areas: Android, web (front-end and backend), Desktop applications and much more.
</p>
<p>
One of our founders is a happy customer of Foobot. We noticed that there is no easy way to download Foobot data, so we decided to build it!
</p>

<h2 class="text-xs-center my-3">
    <i class="fa fa-hand-o-right"></i>&nbsp;
    Visit us at <a href="https://www.neuronalmotion.com/">www.neuronalmotion.com</a>
    &nbsp;<i class="fa fa-hand-o-left"></i>
</h2>
