<div class="text-xs-center my-3">
    <h1>
        <i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;Foobot Exporter
    </h1>
    <p class="text-muted">
    Download your Foobot data in a click
    </p>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oh snap!</strong> <span [innerHTML]="error"></span>
</div>

<app-authentication></app-authentication>
<app-devices></app-devices>
<app-datapoint></app-datapoint>
