<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;Foobot Exporter
    </a>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
