<div class="form-group">

  <label for="username">Your username</label>
  <input id ="username"
    	 [(ngModel)]="username"
  		 type="text"
  		 class="form-control"
  		 placeholder="e.g John Doe" />


  <label for="secretKey">Your Secret Key</label>
  <input id="secretKey"
         [(ngModel)]="secretKey"
         type="text"
         class="form-control"
         aria-describedby="secretKeyHelp"
         placeholder="e.g. GD23DQJDB987AAB_K534" />
  <small id="secretKeyHelp" class="form-text text-muted">We'll never share your uname and secret key with anyone. We don't store it.</small>

  <button type="button" class="btn btn-success" (click)="onStart()">Start</button>
</div>
<app-devices [devices]="devices"></app-devices>
